
*{
  margin:1% 2%;
  align-items: center;
  background-color: #21222A;
  color: white;
  box-sizing: border-box;
  
}
.nav {
  display: flex;
  justify-content: space-between;
}

.name{
  display: flex;
}

.nav-items{
  padding: 0px 100px;
}

.img{
  width: 100px;
  padding-left: 30px;
}

nav h1 {
  color: #61DAFB;
}

.main{
  background-color: #21222A;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
