
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 30px 100px;
}

.img{
  width: 50px;
  padding-left: 30px;
}
